*dat
*client_secret*
*json
*csv
*xls
*xlsx
*bk
*pem
*docx
*pyc
*swp
*.bak
*.pdf
msg/foia.md

# python temporary files
*.pyc
__pycache__

# pyenv local version
.python-version

# direnv file for deploys
.envrc

# docs temp files
.~*#

# editor temp files
.*.swp
