*dat
*client_secret*
*json
*csv
*xls
*xlsx
*bk
*pem
*docx
*pyc
*swp
*.bak

# python temporary files
*.pyc
__pycache__

# pyenv local version
.python-version

# docs temp files
.~*#

# editor temp files
.*.swp
